@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext');

/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
	src: url('../../fonts/Lato-LightItalic.eot'); /* IE9 Compat Modes */
	src: url('../../fonts/Lato-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('../../fonts/Lato-LightItalic.woff2') format('woff2'), /* Modern Browsers */
			 url('../../fonts/Lato-LightItalic.woff') format('woff'), /* Modern Browsers */
			 url('../../fonts/Lato-LightItalic.ttf') format('truetype');
  text-rendering: optimizeLegibility;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
	src: url('../../fonts/Lato-MediumItalic.eot'); /* IE9 Compat Modes */
	src: url('../../fonts/Lato-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('../../fonts/Lato-MediumItalic.woff2') format('woff2'), /* Modern Browsers */
			 url('../../fonts/Lato-MediumItalic.woff') format('woff'), /* Modern Browsers */
			 url('../../fonts/Lato-MediumItalic.ttf') format('truetype');
  text-rendering: optimizeLegibility;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
	src: url('../../fonts/Lato-BoldItalic.eot'); /* IE9 Compat Modes */
	src: url('../../fonts/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('../../fonts/Lato-BoldItalic.woff2') format('woff2'), /* Modern Browsers */
			 url('../../fonts/Lato-BoldItalic.woff') format('woff'), /* Modern Browsers */
			 url('../../fonts/Lato-BoldItalic.ttf') format('truetype');
  text-rendering: optimizeLegibility;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
	src: url('../../fonts/Lato-Light.eot'); /* IE9 Compat Modes */
	src: url('../../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('../../fonts/Lato-Light.woff2') format('woff2'), /* Modern Browsers */
			 url('../../fonts/Lato-Light.woff') format('woff'), /* Modern Browsers */
			 url('../../fonts/Lato-Light.ttf') format('truetype');
	text-rendering: optimizeLegibility;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
	src: url('../../fonts/Lato-Medium.eot'); /* IE9 Compat Modes */
	src: url('../../fonts/Lato-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('../../fonts/Lato-Medium.woff2') format('woff2'), /* Modern Browsers */
			 url('../../fonts/Lato-Medium.woff') format('woff'), /* Modern Browsers */
			 url('../../fonts/Lato-Medium.ttf') format('truetype');
	text-rendering: optimizeLegibility;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
	src: url('../../fonts/Lato-Bold.eot'); /* IE9 Compat Modes */
	src: url('../../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('../../fonts/Lato-Bold.woff2') format('woff2'), /* Modern Browsers */
			 url('../../fonts/Lato-Bold.woff') format('woff'), /* Modern Browsers */
			 url('../../fonts/Lato-Bold.ttf') format('truetype');
	text-rendering: optimizeLegibility;
}
