<f:if condition="{noList} == 1">
	<f:then>
		<f:if condition="{iterator.isFirst} && {parentItem} && {parentItem.link} != {navItem.link}">
			<a href="{parentItem.link}" class="dropdown-item mpu{parentItem.data.uid} mpueb{f:if(condition:'{parentItem.active} && {parentItem.current}',then:' active')}{f:if(condition:'{parentItem.current}',then:' current')}" {f:if(condition:'{parentItem.target}',then:' target="{parentItem.target}"')}{f:if(condition:'{parentItem.data.abstract}',then:' title="{parentItem.data.abstract}"')}>Übersicht</a>
		</f:if>
	<a href="{f:if(condition:'{isSub}',then:'#',else:navItem.link)}" class="dropdown-item mp{navItem.data.uid}{f:if(condition:'{navItem.active}',then:' active')}{f:if(condition:'{navItem.current}',then:' current')}{f:if(condition:'{isSub}',then:' dropdown')}"{f:if(condition:'{navItem.target}',then:' target="{navItem.target}"')}{f:if(condition:'{navItem.data.abstract}',then:' title="{navItem.data.abstract}"')}{f:if(condition:'{isSub}',then:' role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"')}>{navItem.title}</a>
	</f:then>
	<f:else>
		<f:if condition="{iterator.isFirst} && {parentItem} && {parentItem.link} != {navItem.link}">
			<li class="nav-item mpu{parentItem.data.uid} mpueb{f:if(condition:'{parentItem.active} && {parentItem.current}',then:' active')}{f:if(condition:'{parentItem.current}',then:' current')}"><a href="{parentItem.link}" class="nav-link{f:if(condition:'{navItem.data.layout}',then:' mpl-{navItem.data.layout}')}" {f:if(condition:'{parentItem.target}',then:' target="{parentItem.target}"')}{f:if(condition:'{parentItem.data.abstract}',then:' title="{parentItem.data.abstract}"')}>Übersicht</a></li>
		</f:if>
		<li class="nav-item mp{navItem.data.uid}{f:if(condition:'{navItem.active}',then:' active')}{f:if(condition:'{navItem.current}',then:' current')}{f:if(condition:'{isSub}',then:' dropdown')}">
		<a href="{f:if(condition:'{isSub}',then:'#',else:navItem.link)}" class="nav-link{f:if(condition:'{isSub}',then:' dropdown-toggle')}{f:if(condition:'{navItem.data.layout}',then:' mpl-{navItem.data.layout}')}"{f:if(condition:'{navItem.target}',then:' target="{navItem.target}"')}{f:if(condition:'{navItem.data.abstract}',then:' title="{navItem.data.abstract}"')}{f:if(condition:'{isSub}',then:' role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"')}><span>{navItem.title}</span></a>
	</f:else>
</f:if>
