<f:cObject typoscriptObjectPath="lib.inhalt" />
<section class="team-list">
	<div id="filter-team">
		<div class="form-inline">
			<div class="form-group">
				<label for="ft-projekte">Filter:</label>
				<select id="ft-projekte" class="form-control mx-2">
					<option value="">Alle Projekte</option>
					<option value="PP01">Cluster A</option>
					<option value="PP01">- PP01</option>
					<option value="PP02,PP03,PP04">Cluster B</option>
					<option value="PP02">- PP02</option>
					<option value="PP03">- PP03</option>
					<option value="PP04">- PP04</option>
					<option value="PP05,PP06">Cluster C</option>
					<option value="PP05">- PP05</option>
					<option value="PP06">- PP06</option>
					<option value="PP08,PP10">Cluster D</option>
					<option value="PP08">- PP08</option>
					<option value="PP10">- PP10</option>
					<option value="PP11">Cluster E</option>
					<option value="PP11">- PP11</option>
				</select>
			</div>
			<div class="form-group">
				<label for="ft-sort">Sortierung:</label>
				<select id="ft-sort" class="form-control mx-2">
					<option value="">Standard</option>
					<option value="2">alphabetisch</option>
				</select>
			</div>
		</div>
	</div>
	<f:cObject typoscriptObjectPath="lib.inhalt1" />
</section>
<section class="additional-team">
	<f:cObject typoscriptObjectPath="lib.inhalt2" />
</section>
