<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This template is responsible for creating a table of domain objects.

<f:section name="content">
	ajax
	<div class="das-ajax">
		<f:if condition="{dioeArticles}">
			<f:then>
				<f:for each="{dioeArticles}" as="dioeArticle">
					<f:render partial="DioeArticle/ListItem" arguments="{dioeArticle: dioeArticle, settings: settings, layout: layout}" />
			  </f:for>
				<f:if condition="{settings.aajax} && {dioeArticles}">
					<div class="article-list-next" data-url="{f:uri.action(action: 'ajax', pageType: '7837626199', arguments: '{start: \'{settings.amax + dstart}\', dasuid: cObj.uid, sacluster: args.sacluster, satype: args.satype, saorder: args.saorder}')}">
						Weitere Artikel ...
					</div>
				</f:if>
			</f:then>
			<f:else>
				<f:if condition="{dstart}">
					<f:else>
						<div class="info">Keine Artikel vorhanden.</div>
					</f:else>
				</f:if>
			</f:else>
		</f:if>
	</div>
</f:section>
</html>
