<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This template is responsible for creating a table of domain objects.

<f:section name="content">
	<f:if condition="{settings.afilter} && {dioeArticles}">
		<div id="fal{cObj.uid}" data-target="#al{cObj.uid}" class="mb-4 mt-4">
			<f:form action="ajax" class="article-list-filter" pageType="7837626199">
			<f:form.hidden name="dasuid" value="{cObj.uid}" />
			<f:form.hidden name="start" value="0" />
				<div class="row">
					<f:if condition="({selectableCluster} && {f:count(subject: selectableCluster)} > 1) || ({selectableTagsTypes} && {f:count(subject: selectableTagsTypes)} > 1)">
						<div class="d-flex col-12 col-md-7 mb-3">
							<div class="pr-3">
								Filter:
							</div>
							<f:if condition="{selectableCluster} && {f:count(subject: selectableCluster)} > 1">
						    <div class="pr-3">
									<f:form.select class="form-control" name="sacluster" value="{args.sacluster}" options="{selectableCluster}" />
						    </div>
							</f:if>
							<f:if condition="{selectableTagsTypes} && {f:count(subject: selectableTagsTypes)} > 1">
						    <div>
									<f:form.select class="form-control" name="satype" value="{args.satype}" options="{selectableTagsTypes}" />
						    </div>
							</f:if>
						</div>
					</f:if>
					<div class="d-flex col-12 col-md-5 mb-3">
						<div class="pr-3">
							Sortierung:
						</div>
				    <div class="w-100">
							<f:form.select class="form-control" name="saorder" value="{args.saorder}" options="{selectableOrder}" />
				    </div>
				  </div>
				</div>
			</f:form>
		</div>
	</f:if>
	<f:switch expression="{layout}">
		<f:case value="xxx">
			xxx
		</f:case>
		<f:case value="pubview">
			<section id="pl{cObj.uid}" class="publication-lists{f:if(condition:'{settings.aclass}', then:' {settings.aclass}')}">
				<f:for each="{dioeArticlesArray}" as="dioeArticleArray">
					<f:if condition="{dioeArticleArray.array}">
						<section class="publication-list">
							<h2 class="text-center my-4">{dioeArticleArray.title}</h2>
							<ul class="publicationen-liste">
								<f:for each="{dioeArticleArray.array}" as="dioeArticle">
									<f:render partial="DioeArticle/ListItemPublikation" arguments="{dioeArticle:dioeArticle, settings:settings, layout: layout}" />
								</f:for>
							</ul>
						</section>
					</f:if>
				</f:for>
			</section>
		</f:case>
		<f:case value="meeview">
			<section id="ml{cObj.uid}" class="termin-lists{f:if(condition:'{settings.aclass}', then:' {settings.aclass}')}">
				<f:for each="{dioeArticlesArray}" as="dioeArticleArray">
					<f:if condition="{dioeArticleArray.array}">
						<section class="termin-list">
							<h2 class="text-center my-4">{dioeArticleArray.title}</h2>
							<ul class="termin-liste">
								<f:for each="{dioeArticleArray.array}" as="dioeArticle">
									<f:render partial="DioeArticle/ListItemTermin" arguments="{dioeArticle:dioeArticle, settings:settings, layout: layout, settings: settings}" />
								</f:for>
							</ul>
						</section>
					</f:if>
				</f:for>
			</section>
		</f:case>
		<f:case value="swipeview">
			<section id="al{cObj.uid}" class="article-list article-swiper row{f:if(condition:'{settings.aclass}', then:' {settings.aclass}')}">
				<f:if condition="{dioeArticles}">
					<f:for each="{dioeArticles}" as="dioeArticle">
						<f:render partial="DioeArticle/ListItem" arguments="{dioeArticle: dioeArticle, layout: layout, fxClasses: 'col-12 col-md-6 col-lg-4'}" />
					</f:for>
				</f:if>
			</section>
			<div class="text-center">
				<f:link.typolink parameter="{f:if(condition: '{settings.zSeite}', then: '{settings.zSeite}', else: '{settings.defaultPId}')}" class="btn btn-outline-secondary d-print-none mt-2">Alle Blogbeiträge</f:link.typolink>
			</div>
		</f:case>
		<f:defaultCase>
			<section id="al{cObj.uid}" class="article-list{f:if(condition:'{settings.aclass}', then:' {settings.aclass}')}">
				<f:if condition="{dioeArticles}">
					<f:for each="{dioeArticles}" as="dioeArticle">
						<f:render partial="DioeArticle/ListItem" arguments="{dioeArticle:dioeArticle, layout:layout}" />
				  </f:for>
					<f:if condition="{settings.aajax} && {dioeArticles}">
						<div class="article-list-next" data-url="{f:uri.action(action: 'ajax', pageType: '7837626199', arguments: '{start: \'{settings.amax + 1}\', dasuid: cObj.uid, sacluster: args.sacluster, satype: args.satype, saorder: args.saorder}')}">
							Weitere Artikel ...
						</div>
					</f:if>
				</f:if>
			</section>
		</f:defaultCase>
	</f:switch>
</f:section>
</html>
