<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers" xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">

	<f:variable name="returnUrl" value="{f:be.uri(route: 'web_DioearticlesystemBeae')}" />

  <f:flashMessages />

	<f:form action="belist">
		<f:form.select name="sahome" value="{args.sahome}" options="{-1:'Alle Ursprünge', 0:'DiÖ', 1:'IamDiÖ'}" />
		<f:form.select name="satype" value="{args.satype}" options="{-1:'Alle Arten', 0:'Beiträge', 1:'Publikationen', 2:'Vorträge', 3:'Veranstaltungen', 4:'Lehren'}" />
		<f:form.select name="satag" value="{args.satag}" options="{artikelTags}" optionValueField="uid" optionLabelField="name" prependOptionValue="-1" prependOptionLabel="Alle Tags" />
		<f:form.select name="sacluster" value="{args.sacluster}" options="{-1:'Alle Cluster', 'a':'TCA', 'b':'TCB', 'c':'TCC', 'd':'TCD', 'e':'TCE', 'sfb':'SFB'}" />
		<f:form.select name="salang" value="{args.salang}" options="{0:'Deutsch', 1:'Englisch', -1:'Alle Sprachen'}" />
		Seite: <f:form.select name="sapage" value="{args.sapage}" options="{pageSelect}" />
		<button>Filtern</button>
		Artikel: {dioeArticlesCount}
	</f:form>
	<br>

	<div>
		<a href="{be:uri.newRecord(pid:'{sPid}', table:'tx_dioearticlesystem_domain_model_dioearticle', returnUrl:'{returnUrl}')}">
			<core:icon identifier="actions-document-new"/>
			Neuen Artikel erstellen
	  </a>
	</div>
	<br>

	<table  class="table" >
		<tr>
			<th></th>
			<th>Ursprung</th>
			<th>Typ</th>
			<th>Tags</th>
			<th>Cluster</th>
			<th>Datum</th>
			<th>Titel</th>
			<th>Pin</th>
			<th title="Sprache">S</th>
			<th title="Bilder">B</th>
			<th title="Dateien">D</th>
			<th></th>
		</tr>
		<f:for each="{dioeArticles}" as="dioeArticle">
      <tr style="{f:if(condition: '{dioeArticle.hidden}', then: 'opacity:0.5;')}">
				<td><a href="{be:uri.editRecord(uid:dioeArticle.uid, table:'tx_dioearticlesystem_domain_model_dioearticle', returnUrl:'{returnUrl}')}">{f:if(condition: '{dioeArticle.prevPic}', then: '1', else: '0')}</a></td>
				<td><a href="{be:uri.editRecord(uid:dioeArticle.uid, table:'tx_dioearticlesystem_domain_model_dioearticle', returnUrl:'{returnUrl}')}">{dioeArticle.aHome.txt}</a></td>
        <td><a href="{be:uri.editRecord(uid:dioeArticle.uid, table:'tx_dioearticlesystem_domain_model_dioearticle', returnUrl:'{returnUrl}')}">{dioeArticle.aType.txt}</a></td>
				<td><a href="{be:uri.editRecord(uid:dioeArticle.uid, table:'tx_dioearticlesystem_domain_model_dioearticle', returnUrl:'{returnUrl}')}">
					{dioeArticle.tags.html -> f:format.raw()}
				</a></td>
        <td>
					<a href="{be:uri.editRecord(uid:dioeArticle.uid, table:'tx_dioearticlesystem_domain_model_dioearticle', returnUrl:'{returnUrl}')}">
						<f:if condition="{dioeArticle.aTaskCluster.val}">
							<f:then>{dioeArticle.aTaskCluster.txt}</f:then>
							<f:else><b>Kein Cluster!</b></f:else>
						</f:if>
					</a>
				</td>
				<td>
					<a href="{be:uri.editRecord(uid:dioeArticle.uid, table:'tx_dioearticlesystem_domain_model_dioearticle', returnUrl:'{returnUrl}')}">
						<f:if condition="{dioeArticle.aProjectpart.val}">
							<f:then>{dioeArticle.aProjectpart.txt}</f:then>
							<f:else><b>Kein Project Part!</b></f:else>
						</f:if>
					</a>
				</td>
				<td><a href="{be:uri.editRecord(uid:dioeArticle.uid, table:'tx_dioearticlesystem_domain_model_dioearticle', returnUrl:'{returnUrl}')}">{dioeArticle.aDate -> f:format.date()}</a></td>
				<td><div title="{f:if(condition: '{dioeArticle.prevTitle}', then: '{dioeArticle.prevTitle}', else: '{dioeArticle.detailTitle}')}" style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis; max-width:500px;"><a href="{be:uri.editRecord(uid:dioeArticle.uid, table:'tx_dioearticlesystem_domain_model_dioearticle', returnUrl:'{returnUrl}')}">{f:if(condition: '{dioeArticle.prevTitle}', then: '{dioeArticle.prevTitle}', else: '{dioeArticle.detailTitle}')}</a></div></td>
        <td>
					<span style="{f:if(condition: '{dioeArticle.startPin}', else: 'opacity:0.3;')}" title="Auf Startseite Pinnen"><core:icon identifier="actions-caret-bar-top"/></span>
					<span style="{f:if(condition: '{dioeArticle.catPin}', else: 'opacity:0.3;')}" title="In Cluster Pinnen"><core:icon identifier="actions-caret-up"/></span>
				</td>
				<td><core:icon identifier="{f:if(condition: '{dioeArticle._languageUid}', then: '{f:if(condition: \'{dioeArticle._languageUid}==1\', then: \'flags-en-us-gb\', else: \'flags-multiple\')}', else: 'flags-at')}"/></td>
				<td>{dioeArticle.detailPic -> f:count()}</td>
        <td><f:comment><v:math.sum a="{0: '{dioeArticle.fFiles -> f:count()}', 1: '{dioeArticle.pFile -> f:count()}'}"/></f:comment></td>
				<td>
					<!-- <f:link.action action="show" arguments="{dioeArticle : dioeArticle}"><core:icon identifier="actions-view-page"/></f:link.action> -->
					<a href="{be:uri.editRecord(uid:dioeArticle.uid, table:'tx_dioearticlesystem_domain_model_dioearticle', returnUrl:'{returnUrl}')}" title="uid: {dioeArticle.uid}"><core:icon identifier="actions-document-edit"/></a>
					<!-- <f:link.action action="delete" arguments="{dioeArticle : dioeArticle}"><core:icon identifier="actions-delete"/></f:link.action> -->
				</td>
      </tr>
    </f:for>
	</table>
	<div>
		<a href="{be:uri.newRecord(pid:'{sPid}', table:'tx_dioearticlesystem_domain_model_dioearticle', returnUrl:'{returnUrl}')}">
			<core:icon identifier="actions-document-new"/>
			Neuen Artikel erstellen
	  </a>
	</div>
</f:section>
</html>
