<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers" xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">
	<f:if condition="{isAdmin}">
		<f:then>
			<f:comment><f:debug title="args">{args}</f:debug></f:comment>
			<f:comment><f:debug title="json">{json}</f:debug></f:comment>
			<f:comment><f:debug title="uIds">{uIds}</f:debug></f:comment>
			<f:if condition="{test}"><f:debug title="test">{test}</f:debug></f:if>
			<f:form action="export"><button style="margin-bottom: 1rem;">Reload</button></f:form>
			<div>
				<b>PId:</b> {sPid}<br>
				<b>Einträge:</b> {json -> f:count()}<br>
				<f:if condition="{targetUids}">
					<b>Import UId:</b> {targetUidsStr}<br>
				</f:if>
				<f:if condition="{info}">
					<div style="border:solid 3px #00f">{info}</div>
				</f:if>
				<f:if condition="{error}">
				<div style="border:solid 3px #f00">
					<ul style="margin-top: 1rem; margin-bottom: 1rem;">
						<f:for each="{error}" as="err" iteration="i">
							<li>{err}</li>
						</f:for>
					</ul>
				</div>
				</f:if>

			</div>
			<hr>
			<table  class="table">
				<tr>
					<th>#</th>
					<th>uid</th>
					<th>pid</th>
					<th>datum</th>
					<th>uebersichtUeberschrift</th>
					<th>Status</th>
					<th>Aktionen</th>
				</tr>
				<f:for each="{json}" as="artikel" iteration="i">
					<tr{f:if(condition: '{artikel.imported}', then: ' style="background-color: #eef;"')}>
						<td>{i.cycle}</td>
						<td>{artikel.uid}</td>
						<td>{artikel.pid}</td>
						<td>{artikel.datum -> f:format.date()}</td>
						<td><div title="{artikel.uebersichtUeberschrift}" style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis; max-width:500px;">{artikel.uebersichtUeberschrift}</div></td>
						<td>{f:if(condition: '{artikel.dbEntrie}', then: 'Vorhanden.', else: '<b>Fehlt!</b>') -> f:format.raw()}</td>
						<td>
							<f:form action="export">
								<f:form.hidden name="expindex" value="{i.index}" />
								<button>Importieren</button>
							</f:form>
						</td>
					</tr>
				</f:for>
			</table>
		</f:then>
		<f:else>
			Nur für Administratoren!
		</f:else>
	</f:if>
</f:section>
</html>
