.article-preview {
	position: relative;
  margin-bottom: 3rem;
}
.article-preview h5 {
  letter-spacing: 0.1em;
  font-size: 0.8em;
  font-weight: 600;
	text-align: left;
}
.article-preview .publishing-date {
  position: relative;
  font-size: 0.8em;
  font-weight: 400;
	text-align: left;
	line-height: 1.2;
}
.article-preview h1.title {
  line-height: 140%;
  margin-top: 0;
  font-size: 1.9em;
  text-align: left;
}
.article-detail .article-preview h1.title {
	font-weight: 300;
}
.article-preview-line {
	position: absolute;
	top: 0;
	bottom: 0;
  width: 0.6rem;
  left: -2rem;
}
.article-preview-img {
  max-width: 40%;
  display: block;
  margin-right: 2rem;
	float: left;
}
.article-preview-img > img {
	display: block;
	width: 100%;
	height: auto;
}

.publicationen-einzeln, .termin-einzeln {
  display: block;
  display: -webkit-box;
  list-style: none;
  padding: 10px 15px;
  margin: 20px 0px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.8em;
  line-height: 1.4;
}
.termin-liste li {
  list-style-type: none;
  padding: 2em;
  border-bottom: 3px solid #f4f4f4;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.termin-liste li:last-child {
  border-bottom: 0;
}
.publicationen-liste li {
  line-height: 1.25em;
  text-indent: -1em;
  list-style-type: none;
  padding: 2em 2em 2em 3em;
  position: relative;
  text-align: justify;
  border-bottom: 3px solid #f4f4f4;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.publicationen-liste li:last-child {
  border-bottom: 0;
}
.publicationen-liste a, .termin-liste a {
  word-break: break-all;
}
.publicationen-einzeln .detaillnk, .termin-einzeln .detaillnk {
  display: none;
}

a.detaillnk {
	display: inline-block;
	visibility: hidden;
  position: relative;
	min-width: 24px;
  text-indent: 0;
}
a.detaillnk::after {
	content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%2334a2cb' d='M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9M12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17M12,4.5C7,4.5 2.73,7.61 1,12C2.73,16.39 7,19.5 12,19.5C17,19.5 21.27,16.39 23,12C21.27,7.61 17,4.5 12,4.5Z' /%3E%3C/svg%3E");
	visibility: visible;
	position: absolute;
	left: 0;
	top: 4px;
	width: 24px;
}
.publicationen-liste li a.detaillnk::after {
	top: 1px;
}

figure.image.article-img > span.img-add.lizenz {
	font-size: 10px;
}

.dateien {
  padding: 2em 0px;
}
.datei {
  position:relative;
  display: block;
  margin-bottom: 1em;
}
.datei:hover {
  background:#fcfcfc;
}
.datei .imgfrm {
  position: relative;
  display: block;
  float: left;
  width: 25%;
  min-height: 175px;
  background: #eee;
  margin-right: 5%;
  border-radius: 5px;
  border: 1px solid #eee;
  overflow: hidden;
}
.datei .filefrm {
  display: block;
  width: 70%;
  float: left;
  padding-bottom: 40px;
  padding-right: 15px;
}
.datei .imgfrm .extension {
  position: absolute;
  font-weight: bold;
  text-align: center;
  width: 100%;
  top: 42%;
  line-height: 0;
  font-size: 70px;
  z-index: 1;
}
.datei .imgfrm .imgbg {
  display:block;
  position: relative;
  background:#fff;
  z-index: 2;
}
.datei .imgfrm img {
  position: relative;
  z-index: 2;
}
.datei .imgfrm .size {
  position: absolute;
  right: 0px;
  bottom: 0px;
  padding: 2px 13px;
  color:#fff;
  background: rgba(24, 24, 24, 0.5);
  border-radius: 5px 0px 0px 0px;
  font-size: 18px;
  line-height: 1.6;
  z-index: 3;
}
.datei .lizenz {
  float: right;
  padding: 0px 10px;
}
.filefrm span.lizenz {
  position: absolute;
  bottom: 0px;
  right: 10px;
  font-size: 16px;
}

.article-preview-layout-tswipeview figure.image {
  max-width: 100%;
  width: 100%;
  float: none;
  margin: 0;
  margin-bottom: 1rem;
}

.article-preview-layout-tswipeview > div {
  background: #fff;
  padding: 1.2rem;
}

article.preview h1.title {
  line-height: 140%;
  margin-top: 0;
  font-size: 1.9em;
	font-weight: 300;
}

.article-preview-layout-tswipeview.article-preview h1.title {
  font-size: 1.5rem;
}

.swipeview-no-img {
	padding-bottom: 75%;
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%230063a6' d='M20 5L20 19L4 19L4 5H20M20 3H4C2.89 3 2 3.89 2 5V19C2 20.11 2.89 21 4 21H20C21.11 21 22 20.11 22 19V5C22 3.89 21.11 3 20 3M18 15H6V17H18V15M10 7H6V13H10V7M12 9H18V7H12V9M18 11H12V13H18V11Z' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

.article-details-prev-imgs img {
  width: 100%;
}

.av-objekt {
  background: #333;
  color: #fff;
  border-left: 1px solid #555 !important;
  border-right: 1px solid #555 !important;
  text-align: center;
}
.av-titel {
  background: #555;
  padding: 2px 14px;
  text-align: center;
  border-radius: 5px 5px 0px 0px;
  color: #fff;
}
.av-copyright {
  background: #555;
  padding: 2px 14px;
  text-align: center;
  border-radius: 0px 0px 5px 5px;
  color: #fff;
  font-size: 12px;
  line-height: 1.6;
}
.av-copyright a {
  color:#fff;
}
.av-copyright .ccby {
  display: inline-block;
  padding-left: 4px;
  vertical-align: middle;
  line-height: 10px;
}
.av-copyright>.lizenz-cc>a {
  display: inline-block;
  margin-top: 0px;
}
.article-preview.article-preview-layout-t0.articleStartPinned::after,
.article-preview.article-preview-layout-t0.articleStartPinned::after,
.article-overview .article-preview.article-preview-layout-t0.articleKategoriePinned::after {
	content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23f68939' d='M23,12L20.56,9.22L20.9,5.54L17.29,4.72L15.4,1.54L12,3L8.6,1.54L6.71,4.72L3.1,5.53L3.44,9.21L1,12L3.44,14.78L3.1,18.47L6.71,19.29L8.6,22.47L12,21L15.4,22.46L17.29,19.28L20.9,18.46L20.56,14.78L23,12M13,17H11V15H13V17M13,13H11V7H13V13Z' /%3E%3C/svg%3E");
	position: absolute;
	right: -2rem;
  top: -0.25rem;
}
.article-overview .article-preview.article-preview-layout-t0.articleStartPinned::after,
.article-category .article-preview.article-preview-layout-t0.articleKategoriePinned::after {
	content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23f66539' d='M23,12L20.56,9.22L20.9,5.54L17.29,4.72L15.4,1.54L12,3L8.6,1.54L6.71,4.72L3.1,5.53L3.44,9.21L1,12L3.44,14.78L3.1,18.47L6.71,19.29L8.6,22.47L12,21L15.4,22.46L17.29,19.28L20.9,18.46L20.56,14.78L23,12M13,17H11V15H13V17M13,13H11V7H13V13Z' /%3E%3C/svg%3E");
	position: absolute;
	right: -2rem;
  top: -0.25rem;
}
.article-preview-content {
  text-align: justify;
}
.article-detail .article-preview {
  text-align: justify;
  max-width: 840px;
  margin-left: auto;
  margin-right: auto;
}
