.article-preview {
  margin-bottom: 3rem;
}
.article-preview h5 {
  letter-spacing: 0.1em;
  font-size: 0.8em;
  font-weight: 600;
	text-align: left;
}
.article-preview .publishing-date {
  position: relative;
  font-size: 0.8em;
  font-weight: 400;
	text-align: left;
}
.article-preview h1.title {
  line-height: 140%;
  margin-top: 0;
  font-size: 1.9em;
  text-align: left;
}
.article-preview-line {
	position: absolute;
	top: 0;
	bottom: 0;
  width: 0.6rem;
  left: -2rem;
}
.article-preview-img {
  max-width: 40%;
  display: block;
  margin-right: 2rem;
	float: left;
}
.article-preview-img > img {
	display: block;
	width: 100%;
	height: auto;
}

.publicationen-einzeln, .termin-einzeln {
  display: block;
  display: -webkit-box;
  list-style: none;
  padding: 10px 15px;
  margin: 20px 0px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.8em;
  line-height: 1.4;
}
.termin-liste li {
  list-style-type: none;
  padding: 2em;
  border-bottom: 3px solid #f4f4f4;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.termin-liste li:last-child {
  border-bottom: 0;
}
.publicationen-liste li {
  line-height: 1.25em;
  text-indent: -1em;
  list-style-type: none;
  padding: 2em 2em 2em 3em;
  position: relative;
  text-align: justify;
  border-bottom: 3px solid #f4f4f4;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.publicationen-liste li:last-child {
  border-bottom: 0;
}
.publicationen-einzeln a, .termin-einzeln a {
  word-break: break-all;
}
.publicationen-einzeln .detaillnk, .termin-einzeln .detaillnk {
  display: none;
}
