.font-sm {
	font-size: 0.91rem;
}
.url {
  word-break: break-all;
}
.ce-left .ce-gallery, .ce-right .ce-gallery {
  max-width: 50%;
}
figure.image img {
  max-width: 100%;
  height: auto;
}

figure.image {
	position: relative;
	overflow: hidden;
	border-radius: 6px;
}
figure.image > span.img-add {
  position: absolute;
  display: none;
}
.lizenz-cc > a {
  display: block;
  color:#333;
  text-decoration: none;
}
.lizenz-cc > a > img {
  display: inline-block;
}
figure.image > span.img-add.lizenz {
  position: absolute;
  display: block;
  right: 0px;
  bottom: 0px;
  padding: 2px 13px;
  margin-left: -3px;
  color: #fff;
  background: rgba(24, 24, 24, 0.5);
  border-radius: 5px 0px 5px 0px;
  font-size: 12px;
  line-height: 1.6;
  transition: 0.5s;
  opacity:0.6;
}
figure.image > span.img-add.lizenz.klein {
  font-size: 10px;
}
figure.image:hover > span.img-add.lizenz {
  transition: 0.1s;
  opacity:1;
}
figure.image > span.img-add.lizenz.lizenz-cc {
  padding: 5px;
  background: transparent;
}
figure.image > span.img-add.lizenz.lizenz-cc>img {
  display: inline-block;
}
figure.image .img-add.lizenz-cc .ccby {
  background: rgba(24, 24, 24, 0.8);
  padding: 6px 10px 6px 2px;
  vertical-align: middle;
  color: #fff;
  font-size: 12px;
  border-radius: 0px 3px 3px 0px;
}
figure.image .img-add.lizenz-cc.klein .ccby {
  padding: 2px 6px 2px 0px;
  font-size: 9px;
  border-radius: 0px;
}

table caption {
  caption-side: top;
}
table.table-horizontal {
  border: none;
  width: 100%;
  text-align: left;
}
table.table-horizontal-center {
  border: none;
  margin: 0px auto;
  text-align: left;
}
table.table-horizontal th, table.table-horizontal-center th {
  border-bottom: 2px solid #ddd;
  line-height: 1.5;
  padding: 1px 10px 2px 5px;
}
table.table-horizontal td, table.table-horizontal-center td {
  border-bottom: 1px solid #ddd;
  line-height: 1.5;
  font-size: 80%;
  padding: 1px 10px 2px 5px;
}
tr.no-border, tr.no-border > td {
  border: none;
}

@media (max-width: 900px) {
	table.table-horizontal td, table.table-horizontal-center td {
		font-size: 85%;
	}
}
