.small, small {
  line-height: 1.4;
}

.csa-klasse-modal, .csa-einzel-modal {
	position: relative;
  padding-bottom: 40px;
	font-size: 18px;
	line-height: 1.4;
}
.csa-einzel-modal:before {
  content: '';
  background: #d4e29b;
  position: absolute;
  top: 0;
  left: 50%;
  width: calc(100vw - 9px);
  margin-left: -50vw;
  z-index: -1;
  height: 100%;
}
.csa-klasse-modal>.bsmodalbtn, .csa-einzel-modal>.bsmodalbtn {
  margin: 0 auto;
  display: block;
}

.powermail_form_4 > h3, .powermail_fieldset_4 > legend, .powermail_form_3 > h3, .powermail_fieldset_3 > legend {
	display: none;
}
.memelist > div.col-lg-3:nth-child(4n+1) {
	clear: left;
}
.meme-generator input[type="checkbox"], .meme-generator input[type="radio"] {
  width: 14px;
  height: 14px;
  margin-top: 8px;
}
.meme-generator .checkbox-inline+.checkbox-inline, .meme-generator .radio-inline+.radio-inline {
  margin-left: 0;
  margin-right: 10px;
}

.cookie-policy{
  text-align: center;
  color: #fff;
  background: darkorange;
  position: fixed;
  line-height: 40px;
  height: 40px;
  top: 89px;
  right: 0;
  font-size: 0.7em;
  left: 0;
  transform: translateY(50px);
  transition: .5s;
  opacity: 0;
  z-index: -1;
}
.cookie-policy.active{
  z-index: 1;
  opacity: 1;
  transform: translateY(0px);
}
.cookie-policy a{
  color: white;
}
.cookie-policy .close{
  cursor: pointer;
  font-weight: 300;
  color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  width: 70px;
  padding: 9px;
  background: rgba(0, 0, 0, 0.2);
}
