
body{
  padding-top: 50px;
  font-size: 110%;
}

body > .content,
body > header.main,
body > .content,
body > footer{
  transition: .5s transform;
  -webkit-transition: .5s -webkit-transform;
}

body.show-mobile-nav > .content,
body.show-mobile-nav > header.main,
body.show-mobile-nav > .content,
body.show-mobile-nav > footer {
  transform: translateX(320px);
  -webkit-transform: translateX(320px);
}

.mobile-header{
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 44px;
  line-height: 44px;
  transition: .5s transform;
  -webkit-transition: .5s -webkit-transform;
}
.show-mobile-nav .mobile-header{
  transform: translateX(320px);
  -webkit-transform: translateX(320px);
}
.trigger-mobile-menu{
  text-align: center;
  background: darkorange;
  color: white;
  width: 44px;
  height: 44px;
  margin: 5px;
}
.trigger-mobile-menu a,
.trigger-mobile-menu a:hover,
.trigger-mobile-menu a:active{
  color: white !important;
}

header.main{
  height: 270px;
}
header.main img.hero{
  width: 100%;
}
header.main img.logo{
  width: 60px;
  margin: 40px auto;
}
.nav-pills{
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  background: #ffac41;
  position: fixed !important;
  width: 320px;
  display: block;
  top: 0 !important;
  left: 0;
  right: 0;
  height: 100%;
  transform: translateX(-320px);
  -webkit-transform: translateX(-320px);
  box-shadow: inset -20px 0 60px 0px rgba(0,0,0,.1);
  transition: .5s transform;
  -webkit-transition: .5s -webkit-transform;
  z-index: 98;
}

.show-mobile-nav .nav-pills{
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
}

.nav-pills img.logo{
  display: none;
}
.nav-pills .dropdown-menu
{
  position: static;
  float: none;
  background: #ff9000;
  margin-top: 0;
  transition: none;
  -webkit-transition: none;
  height: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  text-align: center;
  font-size: .8em;
  border-bottom: 1px solid rgba(255,255,255,.5);
  box-sizing: border-box;
}

.dropdown:hover .dropdown-menu,
.nav-pills li.open .dropdown-menu{
  padding: 20px 0 20px 0;
  height: auto;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  pointer-events: auto;
  opacity: 1;
  margin-top: 0;
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover,
.nav-pills > li > a:hover,
.nav-pills > li > a.active:hover{
  background: #ffc273;
  color: white !important;
  border-color: transparent;
}
.dropdown-menu > li > a{
  font-weight: 300;
  padding: 0;
}
.nav-pills > li > a{
  border-bottom: 1px solid rgba(255,255,255,.2)
}
.nav-pills li,
.nav-pills li a{
  float: none;
  display: block;
  color: white;
}
.nav-pills li .dropdown-menu a {
  padding: 12px 0px;
  margin-bottom: 1px;
  background-color: rgba(255,255,255,.1);
}
#mp53, #mp61 {
  display:block;
}
code{
  white-space: normal !important;
}
article.articleStartPinned .publishing-date:after,
article.articleKategoriePinned .publishing-date:after,
article.articleStartPinned .publishing-date:after,
#hp1 article.articleKategoriePinned .publishing-date:after,
#hp1 article.articleStartPinned .publishing-date:after{
  content: none !important;
}
article.intro-text{
  margin-top: 0;
}

article.intro-text h1 span{
  margin-top: 1em;
}
article.preview img{
  max-width: 100% !important;
}
.footer-logos img {
  max-width: 110px;
  max-height: 50px;
  margin: 10px;
}

article.preview h1.title {
  line-height: 140%;
  margin-top: 0;
  font-size: 1.6em;
}

footer {
  background-size: inherit;
}
.footer-logos a {
  display: inline-block;
}
.footer-logos {
  display: block;
  padding-top: 30px;
  min-height: 160px;
}
