@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext');
a {
  color: #34a2cb;
}
b{
  font-weight: 400;
}

.nobr {
  white-space: nowrap;
}

body {
  font-family: 'Lato', 'Open Sans', sans-serif;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5f5f5+0,ffffff+100 */
  background: rgba(255,255,255,0.9) /* Old browsers */;
  font-size: 130%;
  line-height: 163%;
  font-weight: 300;
}
.container.narrow {
  max-width: 870px !important;
}
.nav-pills {
  background-size: 40px;
  background-color: rgba(255,255,255,0.97);
  z-index: 999;
  left: 0;
  right: 0;
  font-weight: 400;
  text-align: center;
}
.nav-pills > li {
  margin: 0;
  display: inline-block;
  float: none;
}
.nav-pills > li + li {
  margin: 0;
}
.nav-pills > li > a {
  padding: 1.25em 0.5em;
}
.nav-pills > li > a:hover,
.nav-pills > li > a.active:hover {
  color: #333;
  background: transparent;
}
.nav-pills img.logo {
  width: 30px;
  vertical-align: middle;
  margin: -3px 20px 0 -50px;
}
.navbar {
  z-index: 1000;
  position: fixed;
  left: 0;
  right: 0;
  background: transparent;
  border: 0;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
  background: -moz-linear-gradient(top, #fff 45%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fff 45%, rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fff 45%, rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.navbar .navbar-brand {
  height: 120px;
  float: none;
  padding: 0;
}
.navbar .search-field {
  height: 50px;
  margin: 15px 0 0 10px;
}
.navbar .navbar-nav a {
  line-height: 50px;
  font-weight: 400;
}
.nav>li>a {
  color: #777;
  border-radius: 0;
  border-bottom: 3px solid #f4f4f4;
}
.navbar .navbar-nav li.active,
.navbar .navbar-nav li.active a,
.navbar .navbar-nav li.active a:hover {
  background: transparent;
}
.nav-pills>li.active>a {
  background: transparent;
  border-bottom: 3px solid #777;
  color: #777;
}
.navbar-spacer {
  height: 100px;
}
.dropdown-menu {
  border: 0;
  font-size: 20px;
  background: #f5f5f5;
  box-shadow: none;
  pointer-events: none;
  display: block;
  opacity: 0;
  transition: 0.4s;
  transform: translateY(-10px);
}
.dropdown:hover .dropdown-menu {
  transform: translateY(0px);
  pointer-events: auto;
  opacity: 1;
  margin-top: 0;
}
.dropdown-menu > li > a {
  line-height: 2em;
  padding: 3px 40px;
  color: #34a2cb;
}
nav input.search-field {
  background-image: url("../img/magnifying-glass.svg");
  background-position: 90% center;
  background-repeat: no-repeat;
  background-size: 20px;
  width: 30px;
  border-color: transparent;
  background-color: transparent;
  transition: 0.5s;
  box-shadow: none;
  cursor: pointer;
  color: transparent;
}
nav input.search-field::-webkit-input-placeholder {
  color: transparent;
}
nav input.search-field:-moz-placeholder {
  color: transparent;
}
nav input.search-field::-moz-placeholder {
  color: transparent;
}
nav input.search-field:-ms-input-placeholder {
  color: transparent;
}
nav input.search-field:focus {
  cursor: auto;
  width: 250px;
  border-color: #66afe9;
  background-color: #fff;
  color: #333;
}
nav input.search-field:focus::-webkit-input-placeholder {
  color: #333;
}
nav input.search-field:focus:-moz-placeholder {
  color: #333;
}
nav input.search-field:focus::-moz-placeholder {
  color: #333;
}
nav input.search-field:focus:-ms-input-placeholder {
  color: #333;
}
#mp53, #mp61 {
  display:none;
}
h1,
h2,
h3 {
  font-weight: 300;
  position: relative;
}
.bold {
  font-weight: 400;
}
header.main {
  width: 100%;
  height: 390px;
  overflow: hidden;
  position: relative;
}
header.main img.logo {
  transform: translateZ(1px);
  width: 80px;
  margin: 70px auto;
  display: block;
}
header.main img.hero {
  max-width: 1010px;
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 70%;
  margin: 0 auto;
  transition: opacity 4s;
}
header.main img.hero.active {
  opacity: 1;
}
footer {
  display: block;
  width: 100%;
  background: url("../img/mountains.png");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  text-align: center;
}
.footer-logos {
  min-height: 360px;
  padding: 240px 10px 0px 10px;
  display: table;
  margin: 0px auto;
}
.footer-logos a {
  padding: 10px 10px;
  margin: 10px 10px;
  display: table-cell;
}
.footer-logos img {
  max-width: 100%;
  line-height: 130px;
  margin: 0px;
}
article.sub-page {
  font-size: 120%;
  line-height: 160%;
}
article.sub-page h2 {
  padding-bottom: 1em;
}
section.citation {
  color: #999;
  font-size: 80%;
}
section.citation h6 {
  font-size: 1em;
  font-weight: 300;
  text-transform: uppercase;
}
section.citation table {
  margin: 0 auto;
}
section.citation table td:first-child {
  padding-right: 2em;
}
article .publishing-date {
  position: relative;
  font-size: 0.8em;
  font-weight: 400;
  margin-top: 0.3em;
}
article.intro-text {
  text-align: justify;
	margin-top: 5em;
}
article.intro-text.cutout {
	margin-top: 0px;
}
article.intro-text h1 span {
  display: block;
  font-size: 0.6em;
  margin-top: 0.5em;
}
article.preview {
  padding: 2em 0em;
}
article.preview p{
  text-align: justify;
}
article.preview h1.title {
  line-height: 140%;
  margin-top: 0;
  font-size: 1.9em;
}
article.preview h5 {
  letter-spacing: 0.1em;
  font-size: 0.8em;
  font-weight: 600;
}
.news-main article img {
  float: left;
  max-width: 40%;
  margin-right: 2em;
  border-radius: 5px;
}

article.articleStartPinned .publishing-date:after, article.articleKategoriePinned .publishing-date:after {
  content: "\e146";
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  right: -30px;
  top: 8px;
  font-size: 20px;
}
article.articleStartPinned .publishing-date:after {
  content: "\e101";
}
#hp1 article.articleKategoriePinned .publishing-date:after {
  content: "\e101" !important;
}
#hp1 article.articleStartPinned .publishing-date:after {
  content: "\e146" !important;
}

article.preview h1.title:before {
  content: " ";
  position: absolute;
  left: -0.85em;
  display: block;
  height: 1.5em;
  width: 0.25em;
  background: #000;
    height: 100%;
}

article.articleBlog h5, article.articleBlog .publishing-date {  color: #269196; }
article.articleBlog h1.title:before { background: #269196;  }
article.articleNachricht h5, article.articleNachricht .publishing-date {  color: #66be5e; }
article.articleNachricht h1.title:before { background: #66be5e;  }
article.articleBericht h5, article.articleBericht .publishing-date {  color: #66be5e; }
article.articleBericht h1.title:before { background: #66be5e;  }
article.articleMemo h5, article.articleMemo .publishing-date {  color: #66be5e; }
article.articleMemo h1.title:before { background: #66be5e;  }
article.articlePodcast h5, article.articlePodcast .publishing-date {  color: #d64f9d; }
article.articlePodcast h1.title:before { background: #d64f9d;  }
article.articlePublikationen h5, article.articlePublikationen .publishing-date {  color: #5dc3e9; }
article.articlePublikationen h1.title:before { background: #5dc3e9;  }
article.articleKonferenz h5, article.articleKonferenz .publishing-date {  color: #f68939; }
article.articleKonferenz h1.title:before { background: #f68939;  }
article.articleWorkshop h5, article.articleWorkshop .publishing-date {  color: #f68939; }
article.articleWorkshop h1.title:before { background: #f68939;  }
article.articleArbeitstreffen h5, article.articleArbeitstreffen .publishing-date {  color: #f68939; }
article.articleArbeitstreffen h1.title:before { background: #f68939;  }
article.articleVortrag h5, article.articleVortrag .publishing-date {  color: #3757a7; }
article.articleVortrag h1.title:before { background: #3757a7;  }
article.articleGastvortrag h5, article.articleGastvortrag .publishing-date {  color: #3757a7; }
article.articleGastvortrag h1.title:before { background: #3757a7;  }
article.articlePanel h5, article.articlePanel .publishing-date {  color: #3757a7; }
article.articlePanel h1.title:before { background: #3757a7;  }
article.articlePodiumsdiskussion h5, article.articlePodiumsdiskussion .publishing-date {  color: #3757a7; }
article.articlePodiumsdiskussion h1.title:before { background: #3757a7;  }
article.articleAusstellung h5, article.articleAusstellung .publishing-date {  color: #f15f7d; }
article.articleAusstellung h1.title:before { background: #f15f7d;  }
article.articleLehre h5, article.articleLehre .publishing-date {  color: #fbc820; }
article.articleLehre h1.title:before { background: #fbc820;  }

.panel.citation .panel-body {
  font-size: 0.7em;
}

.w100 {
  width:100%;
}
.mw40 {
  max-width: 40%;
}
.mw100 {
  max-width: 100%;
}
.mir2e {
  margin-right: 2em;
}
.mil2e {
  margin-left: 2em;
}
.mib1e {
  margin-bottom: 1em;
}
.mib05e {
  margin-bottom: 0.5em;
}
.border-gray {
  border: 1px solid #ddd;
}
.indent {
  padding-left: 2em;
}

.ekko-lightbox-nav-overlay a {
  text-decoration: none !important;
}
.ekko-lightbox-nav-overlay a span {
  text-shadow: 1px 0px 2px #000;
}
.ekko-lightbox-container {
  overflow: hidden;
}
.ekko-lightbox-container>div.ekko-lightbox-item.fade {
  opacity:0 !important;
  transition: none;
}
.ekko-lightbox-container>div.ekko-lightbox-item.fade.in {
  opacity:1 !important;
  transition: none;
}

.dateien {
  padding: 2em 0px;
}
.datei {
  position:relative;
  display: block;
  margin-bottom: 1em;
}
.datei:hover {
  background:#fcfcfc;
}
.datei .imgfrm {
  position: relative;
  display: block;
  float: left;
  width: 25%;
  min-height: 175px;
  background: #eee;
  margin-right: 5%;
  border-radius: 5px;
  border: 1px solid #eee;
  overflow: hidden;
}
.datei .filefrm {
  display: block;
  width: 70%;
  float: left;
  padding-bottom: 40px;
  padding-right: 15px;
}
.datei .imgfrm .extension {
  position: absolute;
  font-weight: bold;
  text-align: center;
  width: 100%;
  top: 42%;
  line-height: 0;
  font-size: 70px;
  z-index: 1;
}
.datei .imgfrm .imgbg {
  display:block;
  position: relative;
  background:#fff;
  z-index: 2;
}
.datei .imgfrm img {
  position: relative;
  z-index: 2;
}
.datei .imgfrm .size {
  position: absolute;
  right: 0px;
  bottom: 0px;
  padding: 2px 13px;
  color:#fff;
  background: rgba(24, 24, 24, 0.5);
  border-radius: 5px 0px 0px 0px;
  font-size: 18px;
  line-height: 1.6;
  z-index: 3;
}

.img {
  position: relative;
  display: block;
  overflow: hidden;
}
.img>img {
  display:block;
}
.img.img-responsive>img {
  max-width:100%;
  height:auto;
}
.img.w100>img {
  width:100%;
}
.img>span.img-add {
  position: absolute;
  display: none;
}

.lizenz-cc>a {
  display: block;
  color:#333;
  text-decoration: none;
}
.lizenz-cc>a>img {
  display: inline-block;
}
.citation>.panel-heading>.lizenz {
  float:right;
}
.img>span.img-add.lizenz {
  position: absolute;
  display: block;
  right: 0px;
  bottom: 0px;
  padding: 2px 13px;
  margin-left: -3px;
  color: #fff;
  background: rgba(24, 24, 24, 0.5);
  border-radius: 5px 0px 5px 0px;
  font-size: 12px;
  line-height: 1.6;
  transition: 0.5s;
  opacity:0.75;
}
.img>span.img-add.lizenz.klein {
  font-size: 10px;
}
.img:hover>span.img-add.lizenz {
  transition: 0.1s;
  opacity:1;
}
.img>span.img-add.lizenz.lizenz-cc {
  padding: 5px;
  background: transparent;
}
.img>span.img-add.lizenz.lizenz-cc>img {
  display: inline-block;
}
.img .img-add.lizenz-cc .ccby {
  background: rgba(24, 24, 24, 0.6);
  padding: 6px 10px 6px 2px;
  vertical-align: middle;
  color: #fff;
  font-size: 12px;
  border-radius: 0px 3px 3px 0px;
}
.img .img-add.lizenz-cc.klein .ccby {
  padding: 2px 6px 2px 0px;
  font-size: 9px;
  border-radius: 0px;
}

.datei .lizenz {
  float: right;
  padding: 0px 10px;
}
.filefrm span.lizenz {
  position: absolute;
  bottom: 0px;
  right: 10px;
  font-size: 16px;
}

.mitarbeiter-liste.list-view {
  text-align: justify;
}
.list-view .mitarbeiter {
  margin-left: -15px;
  padding-left: 15px;
  margin-bottom: 4em;
  padding-top: 0.25em;
  border-left: 4px solid #fff;
}
.list-view .mitarbeiter:hover {
  border-color:#ddd;
}
.list-view .mitarbeiter-name>.zusaetze {
  display:inline-block;
  margin-left:1em;
}
.list-view .mitarbeiter-name>.zusaetze>a {
  margin-right:0.5em;
}
.icon-view .mitarbeiter {
  width: 31%;
  float: left;
  text-align: center;
  margin: 20px 1%;
}
.list-view .m-icon-view {
  display:none;
}
.icon-view .m-list-view {
  display:none;
}
.icon-view .mitarbeiter-container .mitarbeiter:nth-child(3n+1) {
  clear: left;
}

.ma-titel {
  color: #777;
}
.m-icon-view .ma-titel {
  display: block;
  font-size: 16px;
  line-height: 1.0;
}

.av-objekt {
  background: #333;
  color: #fff;
  border-left: 1px solid #555 !important;
  border-right: 1px solid #555 !important;
  text-align: center;
}
.av-titel {
  background: #555;
  padding: 2px 14px;
  text-align: center;
  border-radius: 5px 5px 0px 0px;
  color: #fff;
}
.av-copyright {
  background: #555;
  padding: 2px 14px;
  text-align: center;
  border-radius: 0px 0px 5px 5px;
  color: #fff;
  font-size: 12px;
  line-height: 1.6;
}
.av-copyright a {
  color:#fff;
}
.av-copyright .ccby {
  display: inline-block;
  padding-left: 4px;
  vertical-align: middle;
  line-height: 10px;
}
.av-copyright>.lizenz-cc>a {
  display: inline-block;
  margin-top: 0px;
}

.publicationen-einzeln .detaillnk, .termin-einzeln .detaillnk {
  display: none;
}
.publicationen-einzeln, .termin-einzeln {
  display: block;
  display: -webkit-box;
  list-style: none;
  padding: 10px 15px;
  margin: 20px 0px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.8em;
  line-height: 1.4;
}

.publicationen-liste .detaillnk .glyphicon, .termin-liste .detaillnk .glyphicon {
  font-size: 18px;
  top: 2px;
}
.publicationen-liste{
  margin: 0;
  padding: 1em;
}
.publicationen-liste li{
  line-height: 1.25em;
  text-indent: -1em;
  list-style-type: none;
  padding: 2em 2em 2em 3em;
  position: relative;
  text-align: justify;
  border-bottom: 3px solid #f4f4f4;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.publicationen-liste li:last-child{
  border-bottom: 0;
}
.termin-liste{
  margin: 0;
  padding: 1em;
}
.termin-liste li{
  list-style-type: none;
  padding: 2em;
  border-bottom: 3px solid #f4f4f4;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.termin-liste li:last-child{
  border-bottom: 0;
}
footer .fxnav {
  list-style: none;
  padding: 0;
  text-align: left;
  display: block;
  float:right;
}
footer .fxnav>li {
	float: left;
	margin-right: 0em;
}
footer .fxnav>li>a, footer .socials {
	color: white;
	text-decoration: none;
	font-size: 12px;
	font-weight: 600;
	background: rgba(0, 0, 0, .1);
	text-transform: uppercase;
	letter-spacing: .1em;
	line-height: 32px;
	float: right;
	margin-right: 10px;
	padding: 0 1em;
}
.content .socials {
  text-align: center;
  margin-top: 20px;
}
.socials img {
	display: inline-block;
	width: 19px;
	border-radius: 10px;
	margin: 0 0 0 5px;
}

table.table-horizontal {
  border: none;
  width: 100%;
  text-align: left;
}
table.table-horizontal-center {
  border: none;
  margin: 0px auto;
  text-align: left;
}
table.table-horizontal th, table.table-horizontal-center th {
  border-bottom: 2px solid #ddd;
  line-height: 1.5;
  padding: 1px 10px 2px 5px;
}
table.table-horizontal td, table.table-horizontal-center td {
  border-bottom: 1px solid #ddd;
  line-height: 1.5;
  font-size: 80%;
  padding: 1px 10px 2px 5px;
}
tr.no-border, tr.no-border>td {
  border: none;
}

#top-link-block {
  position: fixed;
  bottom: 80px;
  left: 0px;
  width: 100%;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  height: 0px;
}
#top-link-block.affix-top {
  opacity:0;
}
#top-link-block.affix {
  opacity:0.8;
}
#top-link-block a {
  display: inline-block;
  padding: 2px 8px;
  float: right;
}

.article-laden {
  position: relative;
}
.article-laden.lade:after {
  content: "\e031";
  position: absolute;
  top: 50%;
  left: 49%;
  height: 0px;
  display: block;
  font-family: 'Glyphicons Halflings';
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.langswitch {
  font-weight: 300;
}
.langswitch>a>img.flag-icon {
  height: 21px;
  width: auto;
  display: inline-block;
  margin-top: -5px;
  margin-bottom: -3px;
  -webkit-filter: grayscale(33%);
  filter: grayscale(50%);
  transition: 0.25s;
  opacity: 0.5;
}
.langswitch>a>img.flag-icon:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  opacity: 1;
}

.team-mitarbeiter>span:before {
  content: ", ";
}
.team-mitarbeiter>span:first-child:before {
  content: "";
}
.publicationen-liste .detaillnk {
  margin-left: 1.1em;
}
.bibtexbtn {
  margin-left: 1.3em;
}
.imgData {
  display:none !important;
}

.bodytext:before, .bodytext:after {
  content: " ";
  display: table;
}
.bodytext:after {
  clear: both;
}

.img.img-circle {
  overflow: visible;
}
.img.img-circle>img {
  border-radius: 50%;
}
.img.img-circle.border-gray {
  border: none;
}
.img.img-circle.border-gray>img {
  border: 1px solid #ddd;
}
.img.img-circle>span.img-add.lizenz {
  position: relative;
  display: inline-block;
  left: auto;
  right: auto;
  bottom: auto;
  border-radius: 5px;
  top: -5px;
}

.debug-show-block,.debug-show-iblock {
  display:none !important;
}
body.debugging .debug-show-block {
  display:block !important;
}
body.debugging .debug-show-iblock {
  display:inline-block !important;
}

.ft-pro-hidden, .ft-sort-hidden, .fa-tc-hidden, .fa-art-hidden {
  display:none !important;
}
.mitarbeiter-liste.ft-sort-alpha {
  padding-top: 63px;
}

.fxbg1 {
	background: #fffabe;
}
.fxbg2 {
	background: #feeee8;
}
.fxbg3 {
	background: #f7bad5;
}
.fxbg4 {
	background: #c7eafa;
}
.fxbg5 {
	background: #d5e59a;
}
.fxbg6 {
	background: #eee;
}

.cookie-policy{
  text-align: center;
  color: #fff;
  background: darkorange;
  position: fixed;
  line-height: 40px;
  height: 40px;
  top: 89px;
  right: 0;
  font-size: 0.7em;
  left: 0;
  transform: translateY(50px);
  transition: .5s;
  opacity: 0;
  z-index: -1;
}
.cookie-policy.active{
  z-index: 1;
  opacity: 1;
  transform: translateY(0px);
}
.cookie-policy a{
  color: white;
}
.cookie-policy .close{
  cursor: pointer;
  font-weight: 300;
  color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  width: 70px;
  padding: 9px;
  background: rgba(0, 0, 0, 0.2);
}
.accordion .accordioncollapse {
    color: #000;
}
@media (max-width: 767px) {
.icon-view .mitarbeiter {
  width: 48%;
  margin: 20px 1%;
}
.icon-view .mitarbeiter-container .mitarbeiter:nth-child(3n+1) {
  clear: none;
}
.icon-view .mitarbeiter-container .mitarbeiter:nth-child(2n+1) {
  clear: left;
}
}
@media (max-width: 450px) {
.icon-view .mitarbeiter {
  width: 100%;
  margin: 20px 0%;
}
}

@media print {
  a.hide-url-printer:link:after, a.hide-url-printer:visited:after {
    content: "";
  }
  .img>span.img-add.lizenz {
    font-size: 14px !important;
    color: #000 !important;
    background-color: #fff !important;
    opacity:1;
  }
}
