span.cred {
  color:#f00;
}
span.cgreen {
  color:#0f0;
}
span.cblue {
  color:#00f;
}
p.text-left {
  text-align:left;
}
p.text-center {
  text-align:center;
}
p.text-right {
  text-align:right;
}
p.text-justify {
  text-align:justify;
}
span.text-nowrap {
  white-space:nowrap;
}
div.indent {
  margin-left: 30px;
}
table.table-horizontal {
  border:none;
  width:100%;
}
table.table-horizontal th {
  border-bottom:2px solid #ddd;
}
table.table-horizontal td {
  border-bottom:1px solid #ddd;
}
