###XMLPROLOG_DOCTYPE###
###HTMLTAG###
###HEADTAG###
###METACHARSET###
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
###INLINECOMMENT###
###TITLE###
###BASEURL######SHORTCUT###
###META###
###HEADERDATA###
###CSS_LIBS######CSS_INCLUDE######CSS_INLINE###<link rel="stylesheet" type="text/css" media="only screen and (max-width: 950px)" href="fileadmin/css/mobile.css" />
###JS_LIBS######JS_INCLUDE######JS_INLINE###
</head>
###BODY###
<div class="cookie-policy container">
  Diese Seite verwendet Cookies. <a target="_blank" style="opacity: .7;" href="https://www.iubenda.com/privacy-policy/8076061">Mehr Informationen</a>
  <a class="close" onclick="document.querySelector('.cookie-policy').classList.remove('active')">OK</a>
</div>
<script src="fileadmin/js/vendor/jquery-1.11.2.min.js"></script>
###JS_LIBS_FOOTER###
###JS_INCLUDE_FOOTER###
###JS_INLINE_FOOTER###
###FOOTERDATA###
<script src="fileadmin/js/bootstrap.min.js"></script>
<script src="fileadmin/js/ekko-lightbox.min.js"></script>
<script src="fileadmin/js/plugins.js"></script>
<script src="fileadmin/podlove/js/podlove-web-moderator.min.js"></script>
<script src="fileadmin/js/main.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110941239-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-110941239-1');
</script>
</body></html>
