###XMLPROLOG_DOCTYPE###
###HTMLTAG###
###HEADTAG###
###METACHARSET###
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
###INLINECOMMENT###
###TITLE###
###BASEURL######SHORTCUT###
###META###
###HEADERDATA###
###CSS_LIBS######CSS_INCLUDE######CSS_INLINE###<link rel="stylesheet" type="text/css" media="only screen and (max-width: 950px)" href="fileadmin/css/mobile.css" />
###JS_LIBS######JS_INCLUDE######JS_INLINE###
</head>
###BODY###
###JS_LIBS_FOOTER###
###JS_INCLUDE_FOOTER###
###JS_INLINE_FOOTER###
###FOOTERDATA###
<script src="https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>
    window.jQuery || document.write('<script src="fileadmin/js/vendor/jquery-1.11.2.min.js"><\\/script>')
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="fileadmin/js/ekko-lightbox.min.js"></script>
<script src="fileadmin/js/plugins.js"></script>
<script src="fileadmin/js/main.js"></script>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID.-->
<script>
    // DESKTOP
    if (!("ontouchstart" in document)) {
      var s = skrollr.init({
          smoothScrolling: false,
          forceHeight: true
      });
    }

    $('body').on('touchend', '.trigger-mobile-menu', function (e) {
      e.preventDefault()
      e.stopPropagation()
      console.log(e)
      setTimeout(function(){
        $('body').toggleClass('show-mobile-nav')
      }, 250)
    })

    setInterval(function() {
        $('.hero').toggleClass('active');
    }, 8000);

    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
        event.preventDefault();
        $(this).ekkoLightbox();
    });

    var gaProperty = 'UA-XXXXXXX-X';
    var disableStr = 'ga-disable-' + gaProperty;
    if (document.cookie.indexOf(disableStr + '=true') > -1) {
      window[disableStr] = true;
    }
    function gaOptout() {
      document.cookie = disableStr + '=true; expires=Thu, 31 Dec 2099 23:59:59 UTC; path=/';
      window[disableStr] = true;
    }
    (function(b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
            function() {
                (b[l].q = b[l].q || []).push(arguments)
            });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = 'https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', gaProperty, 'auto');
    ga('send', 'pageview');
</script>
</body></html>
