{namespace dce=ArminVieweg\Dce\ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<div class="col-md-{avData.spalten} mib1e">
  <div class="av-titel">{avData.datei.titel}</div>
  <f:if condition="{avData.seitenverhaeltniss}"><div class="embed-responsive embed-responsive-{avData.seitenverhaeltniss}"></f:if>
    <f:if condition="{avData.datei.youtube}">
      <f:then>
        <f:if condition="{avData.seitenverhaeltniss}"><f:else><div class="embed-responsive embed-responsive-16by9"></f:else></f:if>
        <iframe src="https://www.youtube-nocookie.com/embed/{avData.datei.youtube}?rel=0&amp;showinfo=0" class="embed-responsive-item av-objekt av-youtube" frameborder="0" allowfullscreen></iframe>
        <f:if condition="{avData.seitenverhaeltniss}"><f:else></div></f:else></f:if>
      </f:then>
      <f:else>
          <f:if condition="{avData.datei.datei}">
            <f:then>
							<f:alias map="{aFileInfo: '{v:resource.file(identifier: avData.datei.datei.0.uid, treatIdAsUid: 1)}'}">
	              <f:if condition="{aFileInfo.extension'} == 'mp4'">
	                <f:then>
	                  <video controls class="mw100 {f:if(condition: '{avData.seitenverhaeltniss}', then: 'embed-responsive-item ', else: 'w100 ')}av-objekt av-mp4">
	                    <source src="{f:uri.typolink(parameter:'file:{avData.datei.datei.0.uid}')}" type="video/mp4">
	                  </video>
	                </f:then>
	                <f:else>
	                  <audio controls class="mw100 {f:if(condition: '{avData.seitenverhaeltniss}', then: 'embed-responsive-item ', else: 'w100 ')}av-objekt av-audio">
	                    <source src="{f:uri.typolink(parameter:'file:{avData.datei.datei.0.uid}')}" type="audio/{aFileInfo.extension}">
	                  </audio>
	                </f:else>
	              </f:if>
							</f:alias>
						</f:then>
            <f:else>
              <div class="{f:if(condition: '{avData.seitenverhaeltniss}', then: 'embed-responsive-item ', else: '')}av-objekt">
                {f:translate(key: 'LLL:fileadmin/templates/locallang.xml:audiovideo_keine_datei_vorhanden')}
              </div>
            </f:else>
          </f:if>
      </f:else>
    </f:if>
  <f:if condition="{avData.seitenverhaeltniss}"></div></f:if>
  <div class="av-copyright">
    <f:if condition="{avData.datei.copyright}">
      <f:then>
        {avData.datei.copyright -> f:cObject(typoscriptObjectPath:'lib.lizenzKlein')}
      </f:then>
      <f:else>
        <f:if condition="{avData.datei.datei}">
          <f:then>
						<f:alias map="{aFileInfo: '{v:resource.file(identifier: avData.datei.datei.0.uid, treatIdAsUid: 1)}'}">
	            <f:if condition="{aFileInfo.copyright}">
	              <f:then>
	                {aFileInfo.copyright -> f:cObject(typoscriptObjectPath:'lib.lizenzKlein')}
	              </f:then>
	              <f:else>
	                {f:translate(key: 'LLL:fileadmin/templates/locallang.xml:media_copyright') -> f:cObject(typoscriptObjectPath:'lib.lizenzKlein')}
	              </f:else>
	            </f:if>
						</f:alias>
          </f:then>
          <f:else>
            {f:translate(key: 'LLL:fileadmin/templates/locallang.xml:media_copyright') -> f:cObject(typoscriptObjectPath:'lib.lizenzKlein')}
          </f:else>
        </f:if>
      </f:else>
    </f:if>
  </div>
</div>
