{namespace dce=ArminVieweg\Dce\ViewHelpers}
<f:section name="Liste">
  <f:spaceless>
  <li class="<f:spaceless><f:for each="{field.kategorien -> dce:explode()}" as="kategorie"><f:switch expression="{kategorie}"><f:case value="16"> tca</f:case><f:case value="17"> tcb</f:case><f:case value="18"> tcc</f:case><f:case value="19"> tcd</f:case><f:case value="20"> tce</f:case></f:switch></f:for> typ-<f:switch expression="{field.art}"><f:case value="1">article</f:case><f:case value="2">book</f:case><f:case value="3">inbook</f:case><f:case value="4">masterthesis</f:case><f:case value="5">phdthesis</f:case><f:case value="6">unpublished</f:case><f:case value="7">online</f:case><f:case default="TRUE">unbekannt</f:case></f:switch></f:spaceless>">
    <f:if condition="{field.art} == 3">
      <f:then>
        <f:alias map="{pAuthData: {field: field, nurAuthoren: 1}}">{pAuthData -> f:cObject(typoscriptObjectPath:'lib.PublikationAuthoren')}</f:alias>
      </f:then>
      <f:else>
        {field -> f:cObject(typoscriptObjectPath:'lib.PublikationAuthoren')}
      </f:else>
    </f:if>
    <f:if condition="{field.year} > 9">
      <f:then>
        ({field.year}):
      </f:then>
      <f:else>
        <f:switch expression="{field.year}">
          <f:case value="0">(in Planung):</f:case>
          <f:case value="1">(in Druck):</f:case>
          <f:case value="2">(eingereicht):</f:case>
        </f:switch>
      </f:else>
    </f:if>
    {field.title}.
    <f:switch expression="{field.art}">
      <f:case value="1"><f:comment>article</f:comment>
        In:
        {field.journal}
        {f:if(condition: '{field.volume}', then: 'Band {field.volume}.', else: '')}
        {f:if(condition: '{field.number}', then: ' {field.number}', else: '')}
        {f:if(condition: '{field.pages}', then: ', {field.pages}.', else: '')}
        {f:if(condition: '{field.note}', then: ' {field.note}.', else: '')}
        {f:if(condition: '{field.isbn}', then: '[ISBN: {field.isbn}]', else: '')}
        {f:if(condition: '{field.doi}', then: '[DOI: {field.doi}]', else: '')}
        {f:if(condition: '{field.url}', then: '[URL: <a href="{field.url}" target="_BLANK" class="hide-url-printer">{field.url}</a>]', else: '')}
      </f:case>
      <f:case value="2"><f:comment>book</f:comment>
        {f:if(condition: '{field.volume}', then: ' Band {field.volume},', else: '')}
        {f:if(condition: '{field.edition}', then: ' {field.edition},', else: '')}
        {f:if(condition: '{field.address}', then: ' {field.address}:', else: '')}
        {f:if(condition: '{field.publisher}', then: ' {field.publisher}.', else: '')}
        {f:if(condition: '{field.series}', then: ' ({field.series} {field.number}).', else: '')}
        {f:if(condition: '{field.note}', then: ' {field.note}.', else: '')}
        {f:if(condition: '{field.isbn}', then: '[ISBN: {field.isbn}]', else: '')}
        {f:if(condition: '{field.doi}', then: '[DOI: {field.doi}]', else: '')}
        {f:if(condition: '{field.url}', then: '[URL: <a href="{field.url}" target="_BLANK" class="hide-url-printer">{field.url}</a>]', else: '')}
      </f:case>
      <f:case value="3"><f:comment>inbook</f:comment>
        In:
        <f:alias map="{pAuthData: {field: field, nurEditoren: 1}}">{pAuthData -> f:cObject(typoscriptObjectPath:'lib.PublikationAuthoren')}</f:alias>:
        {f:if(condition: '{field.booktitle}', then: ' {field.booktitle}', else: '')}
        {f:if(condition: '{field.volume}', then: ' Band {field.volume}.', else: '')}
        {f:if(condition: '{field.edition}', then: ' {field.edition},', else: '')}
        {f:if(condition: '{field.address}', then: ' {field.address}:', else: '')}
        {f:if(condition: '{field.publisher}', then: ' {field.publisher}', else: '')}
        <f:if condition="{field.series}"> ({field.series} {f:if(condition: '{field.number}', then: ' {field.number}', else: '')})</f:if>{f:if(condition: '{field.pages}', then: ', {field.pages}', else: '')}.
        {f:if(condition: '{field.note}', then: ' {field.note}.', else: '')}
        {f:if(condition: '{field.isbn}', then: '[ISBN: {field.isbn}]', else: '')}
        {f:if(condition: '{field.doi}', then: '[DOI: {field.doi}]', else: '')}
        {f:if(condition: '{field.url}', then: '[URL: <a href="{field.url}" target="_BLANK" class="hide-url-printer">{field.url}</a>]', else: '')}
      </f:case>
      <f:case value="4"><f:comment>masterthesis</f:comment>
        <f:if condition="{field.school}">[Abschlussarbeit {field.school}. {f:if(condition: '{field.address}', then: ' {field.address}', else: '')}]</f:if>.
        {f:if(condition: '{field.note}', then: ' {field.note}.', else: '')}
        {f:if(condition: '{field.doi}', then: '[DOI: {field.doi}]', else: '')}
        {f:if(condition: '{field.url}', then: '[URL: <a href="{field.url}" target="_BLANK" class="hide-url-printer">{field.url}</a>]', else: '')}
      </f:case>
      <f:case value="5"><f:comment>phdthesis</f:comment>
        <f:if condition="{field.school}">[Dissertation {field.school}. {f:if(condition: '{field.address}', then: ' {field.address}', else: '')}]</f:if>.
        {f:if(condition: '{field.note}', then: ' {field.note}.', else: '')}
        {f:if(condition: '{field.doi}', then: '[DOI: {field.doi}]', else: '')}
        {f:if(condition: '{field.url}', then: '[URL: <a href="{field.url}" target="_BLANK" class="hide-url-printer">{field.url}</a>]', else: '')}
      </f:case>
      <f:case value="6"><f:comment>unpublished</f:comment>
        [unveröffentlicht]
      </f:case>
      <f:case value="7"><f:comment>online</f:comment>
        <f:if condition="{field.url}">URL: <a href="{field.url}" target="_BLANK" class="hide-url-printer">{field.url}</a>{f:if(condition: '{field.urldate}', then: ' ({field.urldate})' else: '')}</f:if>
        {f:if(condition: '{field.note}', then: ' {field.note}.', else: '')}
        {f:if(condition: '{field.doi}', then: '[DOI: {field.doi}]', else: '')}
        [Online-Publikation]
      </f:case>
      <f:case default="TRUE"><f:comment>Unbekannt</f:comment>
        <b><u>Unbekannt:</u></b>&nbsp;
        <f:for each="{field}" as="val" key="key">
          <f:switch expression="{key}">
            <f:case value="datum"></f:case><f:case value="uebersichtUeberschrift"></f:case><f:case value="uebersichtText"></f:case><f:case value="kategorien"></f:case><f:case value="uebersichtBild"></f:case><f:case value="uebersichtBildVerh"></f:case><f:case value="title"></f:case><f:case value="authorSektion"></f:case><f:case value="year"></f:case>
            <f:case default="TRUE">
              <f:if condition="{val}">
                <f:if condition="{val -> dce:isArray()}">
                  <f:then>
                    - <b>{key}:</b> (
                    <f:for each="{val}" as="uval" key="ukey">
                      <f:if condition="{uval -> dce:isArray()}">
                        <f:then>
                          , <b>{ukey}:</b> ( <f:for each="{uval}" as="uuval" key="uukey">, <b>{uukey}:</b> "{uuval}"</f:for> )
                        </f:then>
                        <f:else>, <b>{ukey}:</b> "{uval}"</f:else>
                      </f:if>
                    </f:for>
                    )
                  </f:then>
                <f:else>- <b>{key}:</b> "{val}"</f:else></f:if>
              </f:if>
            </f:case>
          </f:switch>
        </f:for>
      </f:case>
    </f:switch>
    <f:if condition="{field.keywords}">
      Schlagwörter:  {field.keywords}.
    </f:if>
    <f:link.page pageUid="39" additionalParams="{artikel: '{contentObject.uid}'}" noCacheHash="TRUE" class="detaillnk hidden-print"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></f:link.page>
  </li>
  </f:spaceless>
</f:section>

<f:section name="BibTex">
  {field -> f:cObject(typoscriptObjectPath:'lib.PublikationBibTex')}
</f:section>
