{namespace dce=ArminVieweg\Dce\ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<a href="{f:uri.typolink(parameter:'file:{datei.datei.0.uid}')}" target="_BLANK" title="{datei.datei.0.name} - {datei.datei.0.size -> f:format.bytes(decimals: 1, decimalSeparator: ',', thousandsSeparator: ',')}" class="datei clearfix datei-ext-{datei.datei.0.extension}">
  <span class="imgfrm">
    <span class="extension">{datei.datei.0.extension}</span>
    <f:if condition="{datei.datei.0.extension -> f:cObject(typoscriptObjectPath:'lib.dateiextension')}"><f:if condition="{datei.vorschaubild}"><span class="imgbg"><f:image src="{f:uri.typolink(parameter:'file:{datei.datei.0.uid}')}" alt="" class="img-responsive w100" width="210"/></span></f:if></f:if>
    <span class="size">{datei.datei.0.extension} - {datei.datei.0.size -> f:format.bytes(decimals: 1, decimalSeparator: ',', thousandsSeparator: ',')}</span>
  </span>
  <span class="filefrm">
		<f:alias map="{aFileInfo: '{v:resource.file(identifier: datei.datei.0.uid, treatIdAsUid: 1)}'}">
	    <f:if condition="{aFileInfo.copyright}">
	      <f:then>
	        {aFileInfo.copyright -> f:cObject(typoscriptObjectPath:'lib.lizenzNolinkKleinSpan')}
	      </f:then>
	      <f:else>
	        {f:translate(key: 'LLL:fileadmin/templates/locallang.xml:file_copyright') -> f:cObject(typoscriptObjectPath:'lib.lizenzNolinkKleinSpan')}
	      </f:else>
	    </f:if>
		</f:alias>
    <p><b>{datei.titel}</b></p>
    <p><f:format.nl2br>{datei.text}</f:format.nl2br></p>
  </span>
</a>
