{namespace dce=ArminVieweg\Dce\ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:spaceless>
	<f:if condition="{lightbox}"><a href="{f:uri.image(src:'{src}',treatIdAsReference:'1',maxWidth:'1024',maxHeight:'800')}" data-toggle="lightbox" data-title="{lbTitle}" data-footer="{lbDescription}"></f:if>
  <f:if condition="{hideSpan}"><f:else><span class="img {class}"></f:else></f:if>
  <f:if condition="{bildVerh}">
    <f:then>
      <f:image src="{src}" alt="" treatIdAsReference="{treatIdAsReference}" width="{width}c" height="{width}c"/>
    </f:then>
    <f:else>
      <f:image src="{src}" alt="" treatIdAsReference="{treatIdAsReference}" width="{width}" height="{height}" maxWidth="{maxWidth}" maxHeight="{maxHeight}"/>
    </f:else>
  </f:if>
  <f:if condition="{ImgTS}">
    <div class="imgData" data-img-dg="{iterator.cycle}" data-img-url="{f:uri.image(src:'{src}',treatIdAsReference:'1',maxWidth:'870')}"></div>
  </f:if>
  <f:if condition="{copyright}">
    <f:then>
      <f:if condition="{lizenzImgNolinkKlein}">
        <f:then>
          {copyright -> f:cObject(typoscriptObjectPath:'lib.lizenzImgNolinkKlein')}
        </f:then>
        <f:else>
          {copyright -> f:cObject(typoscriptObjectPath:'lib.lizenzImg')}
        </f:else>
      </f:if>
    </f:then>
    <f:else>
      <f:if condition="{fileUid}">
				<f:alias map="{aFileInfo: '{v:resource.file(identifier: fileUid, treatIdAsUid: 1)}'}">
	        <f:if condition="{aFileInfo.copyright}">
	          <f:then>
	          <f:if condition="{lizenzImgNolinkKlein}">
	            <f:then>
	              {aFileInfo.copyright -> f:cObject(typoscriptObjectPath:'lib.lizenzImgNolinkKlein')}
	            </f:then>
	            <f:else>
	              {aFileInfo.copyright -> f:cObject(typoscriptObjectPath:'lib.lizenzImg')}
	            </f:else>
	          </f:if>
	          </f:then>
	          <f:else>
	            <f:if condition="{lizenzImgNolinkKlein}">
	              <f:then>
	                {f:translate(key: 'LLL:fileadmin/templates/locallang.xml:img_copyright') -> f:cObject(typoscriptObjectPath:'lib.lizenzImgNolinkKlein')}
	              </f:then>
	              <f:else>
	                {f:translate(key: 'LLL:fileadmin/templates/locallang.xml:img_copyright') -> f:cObject(typoscriptObjectPath:'lib.lizenzImg')}
	              </f:else>
	            </f:if>
	          </f:else>
	        </f:if>
				</f:alias>
      </f:if>
    </f:else>
  </f:if>
	<f:if condition="{hideSpan}"><f:else></span></f:else></f:if>
	<f:if condition="{lightbox}"><f:then></a></f:then><f:else><f:if condition="{lbDescription}"><div class="imgdescription">{lbDescription}</div></f:if></f:else></f:if>

</f:spaceless>
