{namespace dce=ArminVieweg\Dce\ViewHelpers}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="http://dioe.at/">
    <title><f:if condition="{field.detailseiteUeberschrift}"><f:then>{field.detailseiteUeberschrift}</f:then><f:else>{field.uebersichtUeberschrift}</f:else></f:if></title>
    <link href="fileadmin/podlove/css/pwp-light-gray.min.css" rel="stylesheet" media="screen" type="text/css" />
    <link href="fileadmin/podlove/css/vendor/progress-polyfill.css" rel="stylesheet" media="screen" type="text/css" />
    <script src="fileadmin/podlove/js/vendor/html5shiv.js"></script>
    <script src="fileadmin/podlove/js/vendor/jquery.min.js"></script>
    <script src="fileadmin/podlove/js/vendor/progress-polyfill.min.js"></script>
    <style>.pwp-info { display: none; } .container { border-radius: 4px;overflow: hidden; } .progressbar { border-left: 1px solid #e5e5e5; border-right: 1px solid #e5e5e5; } .tabs>section { overflow-y: auto; }</style>
  </head>
  <body>
    <f:if condition="{field.podcastDatei}">
      <f:for each="{field.podcastDatei}" as="datei" iteration="i">
        <f:if condition="{dce:fileInfo(fileUid:'{datei.uid}', attribute:'extension')} == 'mp3'">
          <audio>
              <source src="{dce:typolinkUrl(parameter:'file:{datei.uid}')}" type="audio/mpeg"/>
          </audio>
        </f:if>
      </f:for>
    </f:if>
    <script src="fileadmin/podlove/js/podlove-web-player.js"></script>
    <script>
      $('audio').podlovewebplayer({
        alwaysShowHours: true,
        alwaysShowControls: true,
        permalink: '<f:uri.page pageUid="39" additionalParams="{artikel: '{contentObject.uid}'}" noCacheHash="TRUE" absolute="TRUE" />',
        poster: 'fileadmin/img/podcast-dioe_original.png',
        title: '<f:if condition="{field.detailseiteUeberschrift}"><f:then>{field.detailseiteUeberschrift}</f:then><f:else>{field.uebersichtUeberschrift}</f:else></f:if>',
        show: {
          title: 'Podcast DIOE',

        },
        chapters: null,
        languageCode:"de-DE",
        /*activeTab:"downloads",*/
        <f:if condition="{field.podcastDatei}">
          <f:for each="{field.podcastDatei}" as="datei" iteration="i">
            <f:if condition="{dce:fileInfo(fileUid:'{datei.uid}', attribute:'extension')} == 'mp3'">
              downloads: [
                {
                  assetTitle: 'MP3 Audio (mp3)',
                  size: <dce:fileInfo fileUid="{datei.uid}" attribute="size" />,
                  downloadUrl: 'http://www.dioe.at/<dce:typolinkUrl parameter="file:{datei.uid}" />',
                  directAccess: 'http://www.dioe.at/<dce:typolinkUrl parameter="file:{datei.uid}" />',
                  url: 'http://www.dioe.at/<dce:typolinkUrl parameter="file:{datei.uid}" />'
                }
              ]
            </f:if>
          </f:for>
        </f:if>
      });
    </script>
  </body>
</html>
