<div class="accordion" id="accordion{contentObject.uid}">
	<f:for each="{field.inhalte}" as="inhalt" iteration="iterator">
		<div class="card">
			<div class="card-header px-2" id="heading{contentObject.uid}c{iterator.index}">
				<h3 class="mb-0">
					<button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse{contentObject.uid}c{iterator.index}" aria-expanded="true" aria-controls="collapse{contentObject.uid}c{iterator.index}">
						{inhalt.titel}
					</button>
				</h3>
			</div>
			<div id="collapse{contentObject.uid}c{iterator.index}" class="collapse" aria-labelledby="heading{contentObject.uid}c{iterator.index}" data-parent="#accordion{contentObject.uid}">
				<div class="card-body pt-2">
					{inhalt.text -> f:format.html()}
				</div>
			</div>
		</div>
	</f:for>
</div>
