<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
{namespace dioe=Dioevendor\Dioefunctions\ViewHelpers}

<article class="article-preview article-preview-layout-t{layout} article-type-{dioeArticle.aType.val} {dioeArticle.aTaskCluster.classes}{f:if(condition:'{dioeArticle.startPin}', then:' articleStartPinned')}{f:if(condition:'{dioeArticle.catPin}', then:' articleKategoriePinned')}{f:if(condition:'{fxClasses}', then:' {fxClasses}')}" id="a{dioeArticle.uId}">
	<f:switch expression="{layout}">
		<f:case value="xxx">
			xxx
		</f:case>
		<f:case value="swipeview"> <f:comment>swipeview</f:comment>
			<div class="h-100 d-flex flex-column">
				<div>
					<f:render partial="DioeArticle/ListItemImage" arguments="{dioeArticle:dioeArticle, layout: layout}" />
					<div class="article-preview-header d-md-flex" style="color:{f:if(condition: '{dioeArticle.tagsTxt.color}', then: '{dioeArticle.tagsTxt.color}', else: '{dioeArticle.aType.color}')};">
						<h5>{f:if(condition: '{dioeArticle.tagsTxt.html}', then: '{dioeArticle.tagsTxt.html -> f:format.raw()}', else: 'Beitrag')}</h5>
					</div>
					<h1 class="title">
						{f:if(condition: '{dioeArticle.prevTitle}', then: '{dioeArticle.prevTitle}', else: '{dioeArticle.detailTitle}')}
					</h1>
					<div class="article-preview-content clearfix mt-3">
						<f:if condition="{dioeArticle.prevText}">
							<f:then><f:format.html>{dioeArticle.prevText}</f:format.html></f:then>
							<f:else><f:format.html><f:format.crop maxCharacters="300" respectWordBoundaries="TRUE"><dioe:removeTextSpezials value="{dioeArticle.detailText}" /></f:format.crop></f:format.html></f:else>
						</f:if>
					</div>
				</div>
				<div class="mt-auto">
					<f:render partial="DioeArticle/ListItemMoreButton" arguments="{dioeArticle: dioeArticle, settings: settings, textButton: '1'}" />
				</div>
			</div>
		</f:case>
		<f:defaultCase>
			<f:render partial="DioeArticle/ListItemHeader" arguments="{dioeArticle:dioeArticle}" />
			<f:switch expression="{dioeArticle.aType.view}">
				<f:case value="pub"> <f:comment>Publikation</f:comment>
					<f:if condition="{dioeArticle.prevText}">
						<f:then><f:format.html>{dioeArticle.prevText}</f:format.html></f:then>
						<f:else><f:format.html><f:format.crop maxCharacters="440" respectWordBoundaries="TRUE"><dioe:removeTextSpezials value="{dioeArticle.detailText}" /></f:format.crop></f:format.html></f:else>
					</f:if>
					<ul class="publicationen-liste publicationen-einzeln">
						<f:render partial="DioeArticle/ListItemPublikation" arguments="{dioeArticle:dioeArticle, settings:settings}" />
					</ul>
					<f:render partial="DioeArticle/ListItemMoreButton" arguments="{dioeArticle:dioeArticle, settings:settings}" />
				</f:case>
				<f:case value="vorverleh"> <f:comment>Vortrag, Veranstaltung, Lehre</f:comment>
					<f:if condition="{dioeArticle.prevText}">
						<f:then><f:format.html>{dioeArticle.prevText}</f:format.html></f:then>
						<f:else><f:format.html><f:format.crop maxCharacters="440" respectWordBoundaries="TRUE"><dioe:removeTextSpezials value="{dioeArticle.detailText}" /></f:format.crop></f:format.html></f:else>
					</f:if>
					<ul class="termin-liste termin-einzeln">
						<f:render partial="DioeArticle/ListItemTermin" arguments="{dioeArticle:dioeArticle, settings:settings}" />
					</ul>
					<f:render partial="DioeArticle/ListItemMoreButton" arguments="{dioeArticle:dioeArticle, settings:settings}" />
				</f:case>
				<f:defaultCase>
					<div class="article-preview-content clearfix mt-3">
						<f:if condition="{dioeArticle.prevPic.originalResource.name}">
							<f:render partial="DioeArticle/ListItemImage" arguments="{dioeArticle:dioeArticle}" />
						</f:if>
						<f:if condition="{dioeArticle.prevText}">
							<f:then><f:format.html>{dioeArticle.prevText}</f:format.html></f:then>
							<f:else><f:format.html><f:format.crop maxCharacters="440" respectWordBoundaries="TRUE"><dioe:removeTextSpezials value="{dioeArticle.detailText}" /></f:format.crop></f:format.html></f:else>
						</f:if>
					</div>
					<f:render partial="DioeArticle/ListItemMoreButton" arguments="{dioeArticle:dioeArticle, settings:settings}" />
				</f:defaultCase>
			</f:switch>
		</f:defaultCase>
	</f:switch>
</article>
