<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-dioearticlesystem" >
	<tr>
		<td>
			<f:translate key="tx_dioearticlesystem_domain_model_dioearticle.a_home" />
		</td>
		<td>
		{dioeArticle.aHome -> f:format.json()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dioearticlesystem_domain_model_dioearticle.a_type" />
		</td>
		<td>
		{dioeArticle.aType -> f:format.json()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dioearticlesystem_domain_model_dioearticle.a_date" />
		</td>
		<td>
		{dioeArticle.aDate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dioearticlesystem_domain_model_dioearticle.prev_title" />
		</td>
		<td>
		{dioeArticle.prevTitle}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dioearticlesystem_domain_model_dioearticle.prev_text" />
		</td>
		<td>
		{dioeArticle.prevText}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dioearticlesystem_domain_model_dioearticle.a_task_cluster" />
		</td>
		<td>
		{dioeArticle.aTaskCluster -> f:format.json()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dioearticlesystem_domain_model_dioearticle.start_pin" />
		</td>
		<td>
		{dioeArticle.startPin}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dioearticlesystem_domain_model_dioearticle.cat_pin" />
		</td>
		<td>
		{dioeArticle.catPin}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dioearticlesystem_domain_model_dioearticle.prev_pic" />
		</td>
		<td>
				{dioeArticle.prevPic -> f:count()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dioearticlesystem_domain_model_dioearticle.prev_pic_cropping_mode" />
		</td>
		<td>
		{dioeArticle.prevPicCroppingMode}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dioearticlesystem_domain_model_dioearticle.detail_title" />
		</td>
		<td>
		{dioeArticle.detailTitle}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dioearticlesystem_domain_model_dioearticle.detail_text" />
		</td>
		<td>
		{dioeArticle.detailText}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dioearticlesystem_domain_model_dioearticle.detail_pic" />
		</td>
		<td>
				<f:for each="{dioeArticle.detailPic}" as="image" >
					<f:image src="{image.originalResource.publicUrl}" width="200"/>
				</f:for>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dioearticlesystem_domain_model_dioearticle.detail_pic_cropping_mode" />
		</td>
		<td>
		{dioeArticle.detailPicCroppingMode}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dioearticlesystem_domain_model_dioearticle.av_files" />
		</td>
		<td>
				{dioeArticle.avFiles}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dioearticlesystem_domain_model_dioearticle.av_cols" />
		</td>
		<td>
		{dioeArticle.avCols}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dioearticlesystem_domain_model_dioearticle.av_aspect_ratio" />
		</td>
		<td>
		{dioeArticle.avAspectRatio}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dioearticlesystem_domain_model_dioearticle.f_files" />
		</td>
		<td>
				<f:for each="{dioeArticle.fFiles}" as="file" >
					<a href="{file.originalResource.publicUrl}">
						{file.originalResource.name}
					</a>
				</f:for>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dioearticlesystem_domain_model_dioearticle.z_user" />
		</td>
		<td>
		{dioeArticle.zUser}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dioearticlesystem_domain_model_dioearticle.z_name" />
		</td>
		<td>
		{dioeArticle.zName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dioearticlesystem_domain_model_dioearticle.z_title" />
		</td>
		<td>
		{dioeArticle.zTitle}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dioearticlesystem_domain_model_dioearticle.z_place" />
		</td>
		<td>
		{dioeArticle.zPlace}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dioearticlesystem_domain_model_dioearticle.z_l_name" />
		</td>
		<td>
		{dioeArticle.zLName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dioearticlesystem_domain_model_dioearticle.z_share" />
		</td>
		<td>
		{dioeArticle.zShare}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dioearticlesystem_domain_model_dioearticle.z_com_share" />
		</td>
		<td>
		{dioeArticle.zComShare}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dioearticlesystem_domain_model_dioearticle.z_l_text" />
		</td>
		<td>
		{dioeArticle.zLText}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dioearticlesystem_domain_model_dioearticle.p_file" />
		</td>
		<td>
				<a href="{dioeArticle.pFile.originalResource.publicUrl}">
					{dioeArticle.pFile.originalResource.name}
				</a>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dioearticlesystem_domain_model_dioearticle.p_duration" />
		</td>
		<td>
		{dioeArticle.pDuration}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dioearticlesystem_domain_model_dioearticle.pub_type" />
		</td>
		<td>
		{dioeArticle.pubType}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dioearticlesystem_domain_model_dioearticle.pub_title" />
		</td>
		<td>
		{dioeArticle.pubTitle}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dioearticlesystem_domain_model_dioearticle.pub_editors_sec" />
		</td>
		<td>
		{dioeArticle.pubEditorsSec -> f:format.json()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dioearticlesystem_domain_model_dioearticle.pub_year" />
		</td>
		<td>
		{dioeArticle.pubYear}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dioearticlesystem_domain_model_dioearticle.pub_month" />
		</td>
		<td>
		{dioeArticle.pubMonth}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dioearticlesystem_domain_model_dioearticle.pub_booktitle" />
		</td>
		<td>
		{dioeArticle.pubBooktitle}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dioearticlesystem_domain_model_dioearticle.pub_publisher" />
		</td>
		<td>
		{dioeArticle.pubPublisher}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dioearticlesystem_domain_model_dioearticle.pub_journal" />
		</td>
		<td>
		{dioeArticle.pubJournal}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dioearticlesystem_domain_model_dioearticle.pub_volume" />
		</td>
		<td>
		{dioeArticle.pubVolume}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dioearticlesystem_domain_model_dioearticle.pub_number" />
		</td>
		<td>
		{dioeArticle.pubNumber}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dioearticlesystem_domain_model_dioearticle.pub_series" />
		</td>
		<td>
		{dioeArticle.pubSeries}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dioearticlesystem_domain_model_dioearticle.pub_school" />
		</td>
		<td>
		{dioeArticle.pubSchool}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dioearticlesystem_domain_model_dioearticle.pub_address" />
		</td>
		<td>
		{dioeArticle.pubAddress}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dioearticlesystem_domain_model_dioearticle.pub_edition" />
		</td>
		<td>
		{dioeArticle.pubEdition}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dioearticlesystem_domain_model_dioearticle.pub_pages" />
		</td>
		<td>
		{dioeArticle.pubPages}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dioearticlesystem_domain_model_dioearticle.pub_keywords" />
		</td>
		<td>
		{dioeArticle.pubKeywords}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dioearticlesystem_domain_model_dioearticle.pub_isbn" />
		</td>
		<td>
		{dioeArticle.pubIsbn}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dioearticlesystem_domain_model_dioearticle.pub_doi" />
		</td>
		<td>
		{dioeArticle.pubDoi}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dioearticlesystem_domain_model_dioearticle.pub_url" />
		</td>
		<td>
		{dioeArticle.pubUrl}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dioearticlesystem_domain_model_dioearticle.pub_url_date" />
		</td>
		<td>
		{dioeArticle.pubUrlDate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dioearticlesystem_domain_model_dioearticle.pub_note" />
		</td>
		<td>
		{dioeArticle.pubNote}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dioearticlesystem_domain_model_dioearticle.mee_titel" />
		</td>
		<td>
		{dioeArticle.meeTitel}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dioearticlesystem_domain_model_dioearticle.mee_persons_sec" />
		</td>
		<td>
		{dioeArticle.meePersonsSec -> f:format.json()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dioearticlesystem_domain_model_dioearticle.mee_organisers_sec" />
		</td>
		<td>
		{dioeArticle.meeOrganisersSec -> f:format.json()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dioearticlesystem_domain_model_dioearticle.mee_participants_sec" />
		</td>
		<td>
		{dioeArticle.meeParticipantsSec -> f:format.json()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dioearticlesystem_domain_model_dioearticle.mee_time" />
		</td>
		<td>
		{dioeArticle.meeTime -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dioearticlesystem_domain_model_dioearticle.mee_end_time" />
		</td>
		<td>
		{dioeArticle.meeEndTime -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dioearticlesystem_domain_model_dioearticle.mee_show_time" />
		</td>
		<td>
		{dioeArticle.meeShowTime}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dioearticlesystem_domain_model_dioearticle.mee_text" />
		</td>
		<td>
		{dioeArticle.meeText}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dioearticlesystem_domain_model_dioearticle.mee_event" />
		</td>
		<td>
		{dioeArticle.meeEvent}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dioearticlesystem_domain_model_dioearticle.mee_adress" />
		</td>
		<td>
		{dioeArticle.meeAdress}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dioearticlesystem_domain_model_dioearticle.mee_url" />
		</td>
		<td>
		{dioeArticle.meeUrl}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dioearticlesystem_domain_model_dioearticle.mee_doi" />
		</td>
		<td>
		{dioeArticle.meeDoi}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dioearticlesystem_domain_model_dioearticle.mee_note" />
		</td>
		<td>
		{dioeArticle.meeNote}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dioearticlesystem_domain_model_dioearticle.mee_keywords" />
		</td>
		<td>
		{dioeArticle.meeKeywords}
		</td>
	</tr>
</table>
</html>
