<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
{namespace dioe=Dioevendor\Dioefunctions\ViewHelpers}

<figure class="article-img image border border-light">
	<f:variable name="prevPic" value="{v:resource.file(identifier:'{image.originalResource.originalFile.uid}', onlyProperties: '1',  treatIdAsUid: '1')}" />
	<f:image src="{image.originalResource.originalFile.uid}"
		alt="{prevPic.title}"
		title="{prevPic.title}"
		width="{f:if(condition: '{iterator.total} > 9', then: '154', else: '253')}{f:if(condition: '{imageCroppingMode}', then: 'c')}" height="{f:if(condition: '{imageCroppingMode}', then: '{f:if(condition: \'{iterator.total} > 9\', then: \'154c\', else: \'253c\')}')}"
	/>
	<div class="imgData" data-img-dg="{iterator.cycle}" data-img-url="{f:uri.image(src: '{image.originalResource.originalFile.uid}', maxWidth: '1108')}"></div>
	<dioe:copyrights value="{f:if(condition: '{prevPic.copyright}', then: '{prevPic.copyright}', else: '{f:translate(key: \'LLL:fileadmin/template/locallang.xml:img_copyright\')}')}" bild="1" />
</figure>
