header.start {
	display: block;
	position: relative;
	height: 36vw;
	height: calc(80px + 27vw);
	overflow: hidden;
}

.start-logo {
	position: absolute;
	width: 80px;
	top: 7vw;
	max-width: 15vw;
	left: 50%;
  margin-left: -7.5vw;
}

.start-city, .start-mountains {
	position: absolute;
	width: 1010px;
	max-width: 100%;
	left: 50%;
	margin-left: -50%;
	bottom: 0;
	z-index: -1;
}
.start-mountains {
	bottom: -8px;
	-webkit-animation-name: m-fading;
  animation-name: m-fading;
  -webkit-animation-duration: 30s;
  animation-duration: 30s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

@-webkit-keyframes m-fading {
  0% {opacity: 1;}
	20% {opacity: 1;}
  35% {opacity: 0;}
	65% {opacity: 0;}
	80% {opacity: 1;}
	100% {opacity: 1;}
}
@keyframes m-fading {
	0% {opacity: 1;}
	20% {opacity: 1;}
  35% {opacity: 0;}
	65% {opacity: 0;}
	80% {opacity: 1;}
	100% {opacity: 1;}
}

@media (min-width: 576px) {
	.start-logo {
		margin-left: -40px;
	}
}
@media (min-width: 992px) {
	header.start {
		height: 390px;
	}
	.start-logo {
		top: 70px;
		margin-left: -40px;
	}
}
@media (min-width: 1010px) {
	.start-city, .start-mountains {
		margin-left: -505px;
	}
}
@media (min-width: 1200px) {
	header.start {
		height: 390px;
	}
}
